a.navbar-brand {
    white-space: normal;
    word-break: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
